{% extends 'women/base.html' %}
<!--  <div class="form-error">{{ form.non_field_errors }}</div> - указываются
 общие ошибки при авторизации пользователя. Если ошибки будут связаны не с
 заполнением полей а общие при авторизации, например логин и пароль не верный ввёл
 то они будут показываться благодаря вот этой коллекции non_field_errors-->
{% block content %}
<h1>{{ title }}</h1>

<form method="post">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }} </p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}



    <button type="submit">Войти</button>
</form>

{% endblock %}